<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QUESTIONS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  </div>

  <ion-list>
    <ion-item>
      <ion-label color="light">Type any question here</ion-label>
      <ion-input #userquestion placeholder="Enter your question here" [clearOnEdit]="true" color="dark-tint"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="danger" (click)="setData(userquestion)" >Submit</ion-button>

  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let item of items; let i = index"  class="ion-margin-bottom">
      <ion-card #item.number>
        <ion-card-header>
          <ion-card-title color="warning">{{item.question}}</ion-card-title>
          <ion-card-subtitle color="light">{{item.number}}</ion-card-subtitle>
        </ion-card-header>
        <ion-input #updatequestion placeholder="Update your question here" [clearOnEdit]="true" color="light"></ion-input>
        <ion-button color="danger" (click)="updateData(item.number, updatequestion)">Update</ion-button>
        <ion-button color="danger" (click)="deleteData(item.number)">Delete</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- <app-explore-container name="Tab 3 page"> -->
    
  <!-- </app-explore-container> -->
</ion-content>
